html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: Offside;
}

.inverted-btn {
  padding: .6rem 2rem;
  border: #F5AFA0 1px solid;
  border-radius: 6px;
  color: #F5AFA0;
  transition: .3s ease;
  cursor: pointer;
}

.inverted-btn:hover {
  color: white;
  background-color: #F5AFA0;
}

.btn {
  padding: .6rem 2rem;
  border-radius: 6px;
  background-color: #F5AFA0;
  color: white;
  transition: .3s ease;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background-color: #e49b8b;
}