.landingNav {
  display: flex;
  padding: 1rem;
}

.landingNav > div {
  /* display: flex; */
  /* align-items: center; */
}

.logo {
  height: 80px;
}

.landingNavLinks {
  font-size: 2rem;
  font-weight: lighter;
}

