.landingNav {
  display: flex;
  padding: 1rem;
}

.landingNav > div {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.landingNavLinks {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-right: 10vw;
}

